{% match game %}
{% when Some with (game) %}
	<strong>{{ game.name }}</strong>
        {% match game.cover %}
	{% when Some with (cover) %}
	<figure style="max-height: 300px;">
	  <img src="{{ cover }}" style="max-height: 200px;">
	</figure>
	{% when None %}
	{% endmatch %}
        {% match game.year %}
	{% when Some with (year) %}
	<p><strong>Release date</strong>: {{ year }}</p>
	{% when None %}
	{% endmatch %}
        {% match game.engine %}
	{% when Some with (engine) %}
	<p><strong>Engine</strong>: {{ engine }}</p>
	{% when None %}
	{% endmatch %}
        {% match game.setup %}
	{% when Some with (setup) %}
	<p><strong>Setup</strong>: {{ setup }}</p>
	{% when None %}
	{% endmatch %}
        {% match game.runtime %}
	{% when Some with (runtime) %}
	<p><strong>Runtime</strong>: {{ runtime }}</p>
	{% when None %}
	{% endmatch %}
        {% match game.hints %}
	{% when Some with (hints) %}
	<p><strong>Hints</strong>: {{ hints }}</p>
	{% when None %}
	{% endmatch %}
        {% match game.dev %}
	{% when Some with (dev) %}
	<p><strong>Developer</strong>: {{ dev }}</p>
	{% when None %}
	{% endmatch %}
        {% match game.publi %}
	{% when Some with (publi) %}
	<p><strong>Publisher</strong>: {{ publi }}</p>
	{% when None %}
	{% endmatch %}
        {% match game.status %}
	{% when Some with (status) %}
	<p><strong>Status</strong>: {{ status }}</p>
	{% when None %}
	{% endmatch %}
        {% match game.stores %}
	{% when Some with (stores) %}
	<div>
	  <p>Available here:</p>
	  <ul>
	    {% for store in stores %}
	    <li>
	      <a href="{{ store }}">{{ store }}</a>
	    </li>
	    {% endfor %}
	  </ul>
	</div>
	{% when None %}
	{% endmatch %}
	<div>
  {% match game.tags %}
	{% when Some with (tags) %}
		<div>
		<p>
			<strong>Tags:</strong>
			{% for tag in tags %}
				{{ tag }}
			{% endfor %}
		</p>
		</div>
	{% when None %}
	{% endmatch %}
  {% match game.genres %}
	{% when Some with (genres) %}
		<div>
		<p>
			<strong>Genres:</strong>
			{% for genre in genres %}
			{{ genre }}
			{% endfor %}
		</p>
		</div>
	{% when None %}
	{% endmatch %}
	</div>
{% when None %}
{% endmatch %}
