<nav class="navbar is-dark is-fixed-top pr-6 pl-6" role="navigation" aria-label="main navigation">
    <div class="container">
	<div id="navbarBasicExample" class="navbar-menu">
	    <div class="navbar-start">
	      <a class="navbar-item" href="/">
		PlayOnBSD Games
	      </a>
	      <a class="navbar-item" href="https://playonbsd.com/">
	      For the original see https://playonbsd.com/
	      </a>
	    </div>
	</div>
	</div>
</nav>
