<nav class="navbar is-dark is-fixed-top pr-6 pl-6" role="navigation" aria-label="main navigation">
    <div class="container">
	<div id="navbarBasicExample" class="navbar-menu">
	    <div class="navbar-start">
	      <a class="navbar-item" href="/">
		PlayOnBSD Games
	      </a>
	      <p class="navbar-item">
	      For the original see&ensp;
	      <a href="https://playonbsd.com">https://playonbsd.com/</a>
	      </p>
	    </div>
	    <div class="navbar-end">
	      <form class="navbar-item" action="/" method="post">
		    <label class="label">Search</label>
        <input class="input is-small" name="pattern" type="text" placeholder="Search">
	      </form>
	      <p class="navbar-item">
	      <a href="https://pobsd.chocolatines.org/rss">RSS</a>
	      </p>
	    </div>
	</div>
	</div>
</nav>
