<!doctype html>
<html class="no-js has-navbar-fixed-top" lang="en">
  <head>
    <meta charset="utf-8" />
    <meta http-equiv="x-ua-compatible" content="ie=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <link rel="stylesheet" href="static/bulma.css">
    <title>PoBSD Alternative Webstite</title>
  </head>
  <body class="has-background-black-ter has-text-white-ter">
	{% block navbar %}
	    {% include "partials/navbar" %}
	{% endblock %}
    <div class="container has-background-black-ter">
	<section class="hero is-fullheight-with-navbar p-6" style="display: inherit;">
	{% block content %}
	{% endblock %}
	</section>
    </div>
  </body>
</html>
