{% extends "base.html" %}
{% block content %}
	{% if paginator.last_page > 1 %}
	{% include "partials/pagination.html" %}
	{% endif %}
	<dl class="has-text-grey-light">
	{% for item in games %}
	<dt>
		<div class="level">
			<div class="level-left">
			<a id="{{ item.id }}" href="/{{ item.id }}">
			<strong class="has-text-grey-light is-uppercase">{{ item.name }}</strong> 
			</a>
			</div>
			<div class="level-right">
				<div class="field is-grouped is-grouped-multiline">
				{% match item.tags %}
				  {% when Some with (tags) %}
					<div class="control">
					<div class="tags has-addons">
						<span class="tag is-black has-text-grey">TAGS</span>
						{% for tag in tags %}
						<a class="tag is-link is-capitalized has-text-black" href="/?tag={{ tag }}">
							{{ tag }}
						</a>
						{% endfor %}
					</div>
					</div>
				  {% when None %}
				{% endmatch %}
				{% match item.genres %}
				  {% when Some with (genres) %}
					<div class="control">
					<div class="tags has-addons">
						<span class="tag is-black has-text-grey">GENRES</span>
						{% for genre in genres %}
						<a class="tag is-info is-capitalized has-text-black" href="/?genre={{ genre }}">{{ genre }}</a>
						{% endfor %}
					</div>
					</div>
				  {% when None %}
				{% endmatch %}
					<div class="control">
					{% match item.year %}
					  {% when Some with (year) %}
					    {{ year }}
				          {% when None %}
					{% endmatch %}
					</div>
				</div>
			</div>
		</div>
	</dt>
	<dl>
	{% match item.dev %}
	  {% when Some with (dev) %}
		<strong class="has-text-grey-light">Developer:</strong>
		<a href="/?dev={{ dev }}">
			{{ dev }}
		</a>
	  {% when None %}
	{% endmatch %}
	</dl>
	<dl>
	{% match item.publi %}
	  {% when Some with (publi) %}
		<strong class="has-text-grey-light">Publisher:</strong> 
		<a href="/?publi={{ publi }}">
			{{ publi }}
		</a>
	  {% when None %}
	{% endmatch %}
	</dl>
	<dl>
	{% match item.engine %}
	  {% when Some with (engine) %}
		<strong class="has-text-grey-light">Engine:</strong> 
		<a href="/?engine={{ engine }}">{{ engine }}</a>
	  {% when None %}
	{% endmatch %}
	</dl>
	<dl>
	{% match item.runtime %}
	  {% when Some with (runtime) %}
		<strong class="has-text-grey-light">Runtime:</strong>
		<a href="/?runtime={{ runtime }}">
			{{ runtime }}
		</a>
	  {% when None %}
	{% endmatch %}
	</dl>
	<dl>
	{% match item.status %}
	  {% when Some with (status) %}
		<strong class="has-text-grey-light">Status:</strong> {{ status }}
	  {% when None %}
	{% endmatch %}
	</dl>
	<hr class="has-background-grey-darker">
	{% endfor %}
	{% if paginator.last_page > 1 %}
	{% include "partials/pagination.html" %}
	{% endif %}
{% endblock %}
